
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistema Bibliotecario UH | Gestion Prestamos</title>
    <link rel="Icon" href="~/Imagenes/icono.ico">
    <link href="~/Css/style-principal.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header text-white">
                    <img src="~/Imagenes/uhLogo.png" id="logo" />
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <main>
        <!-- section -->
        <section>
            <div class="container-fluid text-center">
                <div class="row content">
                    <div class="col-sm-12">
                        <h6 class="text-white text-center">Seleccione una opción:<br><br></h6>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-2 text-center text-white">
                        <div class="form-group">
                            <input type="button" value="Ver Prestamos" class="btn btn-primary form-control" onclick="@("window.location.href='" + @Url.Action("GestionPrestamosMostrar", "Home") + "'");" />
                        </div>
                        <div class="form-group">
                            <input type="button" value="Insertar Prestamo" class="btn btn-primary form-control" onclick="@("window.location.href='" + @Url.Action("GestionPrestamoNuevo", "Home") + "'");" />
                        </div>
                        <div class="form-group">
                            <input type="button" value="Eliminar Prestamo" class="btn btn-primary form-control" onclick="@("window.location.href='" + @Url.Action("GestionPrestamoEliminar", "Home") + "'");" />
                        </div>
                        <div class="form-group">
                            <input type="button" value="Modificar Prestamo" class="btn btn-primary form-control" onclick="@("window.location.href='" + @Url.Action("GestionPrestamosModificar", "Home") + "'");" />
                        </div>
                        <div class="form-group">
                            <input type="button" value="Ver Socios No Fiables" class="btn btn-primary form-control" onclick="@("window.location.href='" + @Url.Action("GestionPrestamosNoFiables", "Home") + "'");" />
                        </div>
                        <div class="form-group">
                            <input type="button" value="Volver al Menú Principal" class="btn btn-danger form-control" onclick="@("window.location.href='" + @Url.Action("MenuBibliotecario", "Home") + "'");" />
                        </div>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            </div>
        </section>
        <!-- section -->
    </main>
    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="https://uh.ac.cr/" target="_blank"> Universidad Hispanoamericana</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
</html>
